@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    color: #22375C;
}

#contact-hero {
    width: 100%;

    img {
        width: 100%;
    }
}

#contact-cards {
    text-align: center;
    margin-top: 90px;
    padding: 0 90px;

    h2 {
        font-size: 45px;
        color: #22375C;
    }

    p {
        font-size: 24px;
        margin-top: 20px;
        padding-inline: 160px;
    }

    .wrapper {
        display: flex;
        margin-top: 80px;
        padding: 0 40px;
        justify-content: center;
        gap: 30px;

        .card {
            padding: 60px 60px;
            box-shadow:0px 4px 34px 5px #716D6D1C;
            border-radius: 30px;
            width: 100%;
            cursor: pointer;
            img {
                background: #2193D1;
                border-radius: 100%;
                padding: 10px;
                width: 60px;
                height: 60px;
            }

            h4{
                margin-top: 10px;
                font-size: 24px;
                font-weight: 700;
            }
            p{
                font-size: 18px;
                margin: 30px 0;
                padding: 0;
            }

            a{
                color: #2193D1;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

.info {
    background: #0F1C34;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

    .address {
        display: flex;
        gap: 20px;

        i {
            color: #2193D1;
            margin-right: 10px;
        }
    }

    .socials {
        display: flex;
        gap: 5px;

        img {
            width: 25%;
        }
    }
}

// * NavBar *

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    box-shadow: 0 3px 5px #f0f0f0;

    ul {
        display: flex;
        list-style: none;
        gap: 60px;
        align-items: center;

        li:last-child {
            display: flex;
            gap: 15px;
            line-height: 1.7;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

// * Hero *

#hero {
    position: relative;
    height: 80vh;
    width: 100%;

    .textBox {
        width: 800px;
        padding: 60px;
        z-index: 4;
        position: absolute;
        left: 90px;
        background: #fff;
        top: 50%;
        transform: translateY(-50%);

        h1 {
            font-weight: 600;
            font-size: 64px;
        }

        p {
            color: #545050;
            font-size: 18px;
            margin: 40px 0;
            line-height: 1.7;
        }

        button {
            border: none;
            padding: 10px 50px;
            font-size: 18px;
            color: #fff;
            background: #2193D1;
            border-radius: 100px;
        }

        button:hover {
            background: #22375C;
        }
    }

    .imgBox {
        position: absolute;
        width: 55vw;
        overflow: hidden;
        right: 0;
        top: 0;
        bottom: 0;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

// * Process *

#work-process {
    margin: 90px 0;
    padding: 0 90px;

    h3,
    h2 {
        text-align: center;
        font-weight: 600;
    }

    h3 {
        color: #2193D1;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 45px;
    }

    .wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 70px;

        .step {
            width: 100%;

            .icon {
                display: flex;
                align-items: center;
                gap: 50px;

                .step-icon {
                    width: 70px;
                }
            }

            .textBox {
                margin-top: 50px;

                h4 {
                    font-size: 32px;

                    span {
                        color: #2193D1;
                        font-size: 40px;
                    }
                }

                p {
                    line-height: 1.7;
                    margin-top: 10px;
                    font-size: 17px;
                }
            }
        }

        .step:last-child {
            width: 100%;
        }
    }
}

// * About *
#about {
    display: flex;
    align-items: center;
    margin: 90px 0;
    padding: 0 90px;
    gap: 80px;

    .textBox {
        width: 100%;
        color: #545050;

        h3 {
            color: #2193D1;
            margin-bottom: 10px;
            font-weight: 600;
        }

        h2 {
            font-size: 45px;
            font-weight: 600;
            color: #22375C;
            margin: 20px 0;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
            margin: 20px 0;
        }

        h4 {
            color: #22375C;
            display: flex;
            font-weight: 600;
            align-items: center;
            font-size: 32px;
            gap: 15px;

            i {
                color: #2193D1;
                font-size: 24px;
            }
        }

        button {
            margin-top: 40px;
            border: none;
            font-size: 18px;
            padding: 10px 50px;
            color: #fff;
            background: #2193D1;
            border-radius: 100px;
        }

        button:hover {
            background: #22375C;
        }
    }

    .imgBox {
        width: 80%;

        img {
            width: 100%;
        }
    }
}

// * Consultation *
#consultation {
    margin: 90px 0;
    display: flex;

    .imgBox {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .textBox {
        padding: 100px 70px;
        width: 90%;
        height: 900px;
        color: #fff;
        background: #0F1C34;

        h3 {
            color: #2193D1;
            margin-bottom: 10px;
            font-weight: 600;
        }

        h2 {
            font-size: 45px;
            font-weight: 600;
            margin: 20px 0;
        }

        p {
            font-size: 18px;
            line-height: 1.7;
            margin: 20px 0;
        }

        button {
            margin-top: 40px;
            border: none;
            font-size: 18px;
            padding: 15px 50px;
            color: #fff;
            background: #2193D1;
            border-radius: 100px;
        }

        button:hover {
            background: #22375C;
        }

        .loading-circles {
            display: flex;
            gap: 50px;
            width: 80%;
            margin: 50px 0;

            .circle-wrapper {
                width: 100%;
            }

            .circle {
                position: relative;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background: conic-gradient(#2193D1 3.6deg, #ccc 0deg);
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;

                &::before {
                    content: '';
                    background: #0F1C34;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    position: absolute;
                }

                span {
                    position: relative;
                    font-weight: 600;
                    // font-size: ;

                }
            }
        }
    }
}

// * Services *
#services {
    margin: 90px 0;
    padding: 0 90px;

    h3 {
        color: #2193D1;
        margin-bottom: 10px;
        font-weight: 600;
    }

    h2 {
        font-size: 45px;
        font-weight: 600;
        color: #22375C;
        margin: 20px 0;
    }

    .wrapper{
        position: relative;
        .left-arrow {
            transform: rotate(180deg);
            position: absolute;
            left: -60px;
            top: 40%;
            cursor: pointer;
            z-index: 8;
        }

        .right-arrow {
            position: absolute;
            right: -90px;
            top: 40%;
            transform: translate(-50%);
            cursor: pointer;
            z-index: 5;
        }
    }

    .carousel {
        display: grid;
        position: relative;
        // width: 100%;
        // gap: 20px;
        grid-auto-flow: column;
        gap: 16px;
        overflow: hidden;
        scroll-behavior: smooth;
        // grid-template-columns: calc((100%/3) - 12px);
        height: 700px;

        &::-webkit-scrollbar {
            visibility: hidden;
        }

        .service {
            position: relative;
            width: 400px;
            height: 400px;

            .img {
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .textBox {
                cursor: pointer;
                left: 20px;
                right: 20px;
                top: 80%;
                transform: translateY(-20%);
                position: absolute;
                text-align: center;
                padding: 30px;
                background: #fff;
                height: 350px;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

                .icon {
                    margin: 30px 0;

                    img {
                        width: 100px;
                    }
                }

                p {
                    font-size: 24px;
                }
            }

            .textBox:hover {
                background: #22375C;
                color: #fff;
            }
        }
    }
    .carousel.dragging{

        .service{
            cursor: grab;
            user-select: none;
        }
    }
}

// * Contact *
#contact {
    margin-top: 20rem;
    background: #22375C;
    height: 120vh;
    padding-top: 90px;
    position: relative;

    h3,
    h2 {
        text-align: center;
        font-weight: 600;
    }

    h3 {
        color: #2193D1;
        margin-bottom: 10px;
        font-weight: 600;
    }

    h2 {
        font-size: 45px;
        font-weight: 600;
        color: #fff;
        margin: 20px 0;
    }

    form {
        background: #fff;
        display: grid;
        box-shadow: 0 0 4px 6px #B6B3B340;
        gap: 40px;
        margin-top: 30px;
        position: absolute;
        padding: 80px 100px;
        grid-template-columns: repeat(2, 1fr);
        left: 10%;
        right: 10%;
        top: 60%;
        transform: translateY(-40%);

        .form-inputs {
            display: flex;
            font-weight: 600;
            gap: 10px;
            flex-direction: column;

            label {
                padding: 0 30px;

                span {
                    color: #2193D1;
                }
            }

            input {
                width: 100%;
                padding: 20px 30px;
                border-radius: 60px;
                border: 3px solid #E9F7FFFA;
                background-color: #FAFBFB;
            }

        }

        .form-inputs:nth-child(6) {
            grid-column: span 2;
        }

        textarea {
            width: 100%;
            border: 3px solid #E9F7FFFA;
            background-color: #FAFBFB;
            border-radius: 30px;
            padding: 20px 30px;
        }


        .input {
            padding: 20px 30px;
            border-radius: 60px;
            border: 3px solid #E9F7FFFA;
            width: 200px;
            background: #2193D1;
            font-weight: 600;
            cursor: pointer;
            color: #fff;

            &:hover {
                background: #22375C;
            }
        }

    }
}

// * Footer *
footer {
    background: #0F1C34;
    color: #fff;
    padding-top: 160px;
    padding-inline: 90px;
    padding-bottom: 50px;

    .wrapper {
        justify-content: space-between;
        // align-items: end;
        display: flex;
        gap: 50px;

        .f-card {
            width: 60%;

            .logo {
                width: 250px;

                img {
                    width: 100%;
                }
            }

            h3 {
                font-size: 27px;
                margin-top: 60px;
                display: flex;
                flex-direction: column;

                &::after {
                    content: '';
                    margin: 20px 0;
                    width: 70px;
                    height: 2px;
                    background: #2193D1;
                }
            }

            p {
                text-transform: capitalize;
                margin: 30px 0;
            }

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 20px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                }
            }

            button {
                margin-top: 40px;
                cursor: pointer;
                border: none;
                font-size: 18px;
                padding: 15px 30px;
                color: #fff;
                background: #2193D1;
                border-radius: 100px;
            }

            button:hover {
                background: #22375C;
            }
        }

        .f-card:first-child {
            width: 100%;

            p {
                font-size: 22px;
            }

            p:nth-child(3),
            p:nth-child(4) {
                font-size: 14px;
                text-transform: none;
                font-family: 'Montserrat', sans-serif;
            }

            .text {

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    text-transform: none;
                    display: flex;
                    align-items: start;
                    gap: 5px;

                    span {
                        line-height: 1.7;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;

        p {
            font-family: 'Montserrat', sans-serif;
            color: #7C7E80;
            font-size: 14px;
        }
    }

}

// * Media Queries *
@media screen and (max-width:1360px) {
    #hero {
        .textBox {
            width: 750px;
            left: 60px;
            top: 45%;
            transform: translateY(-50%);

            h1 {
                font-size: 60px;
            }
        }
    }

    #work-process {
        .wrapper {
            .step {
                width: 20%;

                .icon {
                    gap: 30px;
                }
            }
        }
    }

    #consultation {
        .textBox {
            height: auto;
            padding: 60px;

            button {
                margin-top: 0;
            }
        }
    }

    #contact {
        height: 95vh;

        form {
            margin-top: 0;
        }
    }
}

@media screen and (max-width:1200px) {

    #contact-cards{
        padding:0 30px;
        p{
            padding-inline:60px;
        }

        .wrapper{
            padding: 0;
            .card{
                padding: 20px;
            }
        }
    }
    nav {
        justify-content: space-between;
        padding-inline: 30px;
        position: relative;
        z-index: 99;

        ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            transform: translateY(-900px);
            z-index: 9;
            left: 0;
            right: 0;
            background: #fff;
            padding: 30px 0;
        }

        ul.navActive{
            transform: translateY(0);
        }

        .hamburger {
            width: 40px;
            height: 30px;
            display: flex;
            cursor: pointer;
            flex-direction: column;
            gap: 7px;

            .line {
                width: 100%;
                height: 6px;
                border-radius: 50px;
                background: #0F1C34;
            }
        }
    }

    #hero {
        height: auto;

        .textBox {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .imgBox {
            position: static;
            width: 100%;
            height: 100%;
        }
    }

    #work-process {
        .wrapper {
            flex-wrap: wrap;

            .step {
                width: 40% !important;

                .icon {
                    img:nth-child(2) {
                        display: none;
                    }
                }
            }
        }
    }

    #about {
        flex-direction: column-reverse;

        .imgBox {
            width: 100%;
        }
    }

    #consultation {
        flex-direction: column;
        gap: 0;

        .textBox {
            width: 100%;
        }
    }

    #contact {
        form {
            padding: 60px 40px;
        }
    }

    footer {
        padding-inline: 50px;
        padding-top: 100px;

        .wrapper {
            flex-wrap: wrap;
            column-gap: 0;

            .f-card {
                width: 40% !important;
            }
        }
    }
}

@media screen and (max-width:500px) {

    #contact-cards{
        h2{
            font-size: 27px;
        }

        p{
            padding-inline: 10px;
            font-size: 14px;
        }

        .wrapper{
            flex-direction: column;
        }
    }

    .info {
        display: none;
    }

    nav {
        align-items: center;

        .logo {
            width: 40%;

            img {
                width: 100%;
            }
        }

        .hamburger {
            width: 30px;
            height: 25px;
            gap: 4px;

            .line {
                height: 4px;
            }
        }
    }

    #hero {
        .textBox {
            width: 350px;
            padding: 10px 20px;

            h1 {
                font-size: 28px;
            }

            p {
                margin: 20px 0;
                font-size: 14px;
            }

            button {
                font-size: 16px;
                padding: 10px 20px;
            }
        }
    }

    #work-process {
        padding: 0 20px;

        h2 {
            font-size: 28px;
        }

        .wrapper {
            .step {
                width: 100% !important;
                text-align: center;

                .icon {
                    display: block;
                }

                .textBox {
                    margin-top: 20px;

                    h4 {
                        font-size: 24px;

                        span {
                            font-size: 30px;
                        }
                    }

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    #about {
        padding: 0 20px;

        .textBox {
            h2 {
                font-size: 28px;
            }

            h4 {
                font-size: 24px;
            }

            p {
                font-size: 14px;
            }

            button {
                font-size: 16px;
                padding: 10px 20px;
            }
        }
    }

    #consultation {
        .textBox {
            padding: 60px 20px;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 14px;
            }

            button {
                font-size: 16px;
                padding: 20px;
            }

            .loading-circles {
                flex-direction: column;

                .circle {
                    margin: 0;
                }
            }
        }
    }

    #services {
        padding: 0 20px;

        h2 {
            font-size: 28px;
        }

        .carousel{
            height: 650px;
        }

        .wrapper {
            .right-arrow{
                right: -15px;
            }
            .left-arrow{
                left: -15px;
            }
            .service {
                width: 300px;

                .textBox {
                    padding: 10px;
                    right: 5px;
                    left: 5px;

                    .icon {
                        img {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }

    #contact {
        height: auto;
        padding: 20px;

        h2 {
            font-size: 28px;
        }

        form {
            position: static;
            grid-template-columns: repeat(1, 1fr);
            padding: 20px 10px;
            transform: none;
            gap: 20px;
            border-radius: 2px;

            .form-inputs {
                label {
                    padding: 0 10px;
                    font-size: 13px;
                }

                input {

                    padding: 10px 20px;
                    font-size: 12px;
                }
            }


            input:last-child {
                font-size: 14px;
                padding: 15px;
                width: auto;
            }

            .form-inputs:nth-child(6) {
                grid-column: 1;
            }
        }
    }

    footer {
        padding: 20px;

        .wrapper {
            .f-card {
                width: 100% !important;

                p {
                    font-size: 14px !important;
                }

                h3 {
                    font-size: 20px;

                    &::after {
                        margin: 10px 0;
                    }
                }
            }

            .f-card:first-child {

                p:nth-child(3),
                p:nth-child(4) {
                    font-size: 10px;
                    text-transform: none;
                    font-family: 'Montserrat', sans-serif;
                }
            }
        }

        .copyright {
            p {
                font-size: 10px;
            }
        }
    }
}